# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Playwright
# =========================
playwright-report/
test-results/
allure-results/
allure-report/
screenshots/*.png

# =========================
# Selenium
# =========================
selenium-tests/node_modules/
selenium-tests/reports/

# =========================
# Postman / Newman
# =========================
postman/reports/
postman/newman/

# =========================
# SoapUI
# =========================
soapui-tests/soapui-reports/

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment Variables
# =========================
.env
.env.local

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/
*.swp

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db